.banner{
  padding: 0px !important;
  margin: 0px !important;
  width: 100%;
  background-repeat: no-repeat; 
  background-position: center; 
  background-color: #0f5401;
  background-image: url(../src/banner.png);
  height: 100px;
}

.navbar{
  padding: 0px !important;
  margin: 0px !important;
  margin-top: 0px;
  height: 75px;
  overflow-x: inherit;
  overflow-y: hidden;
}

.nav-item{
  color: #636363 !important;
  margin: 0px;
  padding-top: 0px;
  align-items: center;
}

.nav-link{
  font-weight: 500;
  font-size: 28px;
  font-family: 'Montserrat';
  margin-left: 20px;
  margin-right: 20px;
}


.nav-item:hover{
  background-color: #575757;
}
.nav-link:hover{
  color: #ffffff !important;
}

a.one:link, a.one:visited {
  color:white;
}

a.one:hover, a.one:active {
  color:lightgreen;
}

.container-fluid{
  position: relative;
}

.container-fluid h1{
  font-family: 'Century';
  font-size: 50px;
  padding-left: 20px;
  margin-top: 3%;
  letter-spacing: 2px;
  color: #0f5401;
  text-shadow: -1px -1px 0 #9fa79d, 1px -1px 0 #9fa79d, -1px 1px 0 #9fa79d, 1px 1px 0 #9fa79d;
}

.container-fluid h2{
  font-family: 'Century';
  font-size: 30px;
  padding-left: 20px;
  margin-top: 3%;
  letter-spacing: 2px;
  color: #0f5401;
  text-shadow: -1px -1px 0 #9fa79d, 1px -1px 0 #9fa79d, -1px 1px 0 #9fa79d, 1px 1px 0 #9fa79d;
}

.container-fluid h3{
  font-family: 'Century';
  font-size: 30px;
  padding-left: 20px;
  margin-top: 3%;
  letter-spacing: 2px;
  color: #0f5401;
  text-shadow: -1px -1px 0 #9fa79d, 1px -1px 0 #9fa79d, -1px 1px 0 #9fa79d, 1px 1px 0 #9fa79d;
}

.container-fluid h4{
  font-family: 'Arial';
  font-size: 20px;
  padding-left: 20px;
  margin-left: 500px;
  margin-top: 3%;
  letter-spacing: 2px;
  color: black;
}

.container-fluid h5{
  font-family: 'Century';
  font-size: 21px;
  padding-left: 20px;
  margin-top: 2%;
  letter-spacing: 2px;
  color: #0f5401;
  font-weight: 700;
}

.container-fluid .par{
  padding-left: 50px;
  margin-top: 25px;
  padding-bottom: 25px;
  font-family: Arial;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.2px;
  line-height: 30px;
  font-family: 'Montserrat';

}

.container-fluid .par2{
  padding-left: 50px;
  margin-top: 25px;
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: 'Montserrat';

}

.container{
  margin-left: 30px;
  font-family: 'Montserrat';
  letter-spacing: 2px;
  margin-top: -10px;
}

.container-left{
  margin-left: 2%;
  margin-top: 50px;
  width: 1200px;
  float: left;
}

.container-right{
  margin-top: 200px;
  width: 300px;
  float: right;
}

.container-left h1{
  font-family: 'Century';
  font-size: 50px;
  padding-left: 20px;
  margin-top: 3%;
  letter-spacing: 2px;
  color: #0f5401;
  text-shadow: -1px -1px 0 #9fa79d, 1px -1px 0 #9fa79d, -1px 1px 0 #9fa79d, 1px 1px 0 #9fa79d;
}

.container-left h2, h3, h4{
  font-family: 'Arial';
  font-size: 40px;
  font-weight: bold;
  padding-left: 20px;
  margin-top: 2%;
  letter-spacing: 2px;
  color: #0f5401;
  text-shadow: -1px -1px 0 #9fa79d, 1px -1px 0 #9fa79d, -1px 1px 0 #9fa79d, 1px 1px 0 #9fa79d;
}

.container-left .par-1 ,.par-2 ,.par-3{
  padding-left: 30px;
  margin-top: 25px;
  padding-bottom: 25px;
  font-family: Arial;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.2px;
  line-height: 30px;
  font-family: 'Montserrat';

}

.container-accreditation{
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
}
.image{
  margin-left: 75px;
}
.image-2{
  height: 400px;
  width: 400px;
  padding: 20px;
}

.container-card{
  margin-left: 250px;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  width:1400px;
}

.card{
  margin: 5px;
  padding: 2px;
  height: 500px;
  max-height: 500px;
  width:300px;
}

hr.dotted {
  margin-left: 2%;
  margin-right: 2%;
  border-top: 5px dotted #343434;
}

.profile {
  margin: 10px;
  padding: 2px;
  max-height: 350px;
  width:200px;
}

.body-frame {
  flex: auto;
}

.body-frame-item{
  height:100%;
  width:100%;
}

.rotated-image {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}